# Day 6 Assignment

Q.1) Assuming that we have some email address in the format "username@companyname.com", please write program to print the company name of the given email address.<br>
ex:<br>
- **input:** john@google.com<br>
- **output:** google

In [1]:
email= "mayank@mstech.com" #email in given format

In [92]:
# method 1 for extract the name  from the email in given format
name=(email.split("@")[1]).split(".")[0]
print("comapny is {}".format(name))

comapny is mstech

In [94]:
# method 2 for extract the name  from the email in given format
def name(email):
    index_1=email.index("@")
    index_2=email.index(".")
    return "comapny is {}".format(email[index_1+1:index_2])
name(email)

'comapny is mstech'

Q.2) Write a program that accepts a comma-separated sequence of words as inpuut and prints the word in a comma-separated sequence after sorting then alphabatically.<br>
ex:<br>
- **input:** without,hello,bag,world<br>
- **output:** bag,hello,without,world

In [97]:
comma_string = "mayank,jay,dvarkesh,parth,vikrant"

In [101]:
# method 1 for Q.2
def sort_str(comma_string):
    str_list=comma_string.split(",")
    return ",".join(sorted(str_list))
sort_str(comma_string)

'dvarkesh,jay,mayank,parth,vikrant'

In [103]:
# method 2 for Q.2
l = ",".join(sorted(comma_string.split(",")))
print(l)

dvarkesh,jay,mayank,parth,vikrant

Q.3) Create your own **jupyter notebook for sets**.

- set not allowed the duplicaiton<br>
- set is unordered

In [33]:
s1 = {1,3} # create a set with elements
print("s1:",s1)

s1: {1, 3}

In [34]:
s1.add(2) # add 2 in set s1
print("s1:",s1)

s1: {1, 2, 3}

In [35]:
s1.update({5,6}) # update set with {5, 6}
print("s1:",s1)

s1: {1, 2, 3, 5, 6}

In [36]:
print("length of s1:{} set is {}.".format(s1,len(s1)))

length of s1:{1, 2, 3, 5, 6} set is 5.

In [37]:
s1.remove(1) # remove 1 from the set s1
print("s1:",s1)

s1: {2, 3, 5, 6}

In [38]:
s1.pop() # pop ant one element from the set s1 ramndomly

2

In [2]:
s2= {3,6,2,9,1}

In [39]:
s1.issubset(s2) # check whether s1 is subset of s2 or not

False

In [4]:
s1.remove(3)

In [6]:
s1.add(2)
s1

{1, 2}

In [11]:
s1.pop()
print(s1)

{3}

In [13]:
s1.add(5)
print(s1)

{3, 5}

In [14]:
s1.remove(5)

In [15]:
s1

{3}

Q.4)Given a numbers ranging from 1 to n, your task is to find the missing number.there are no duplicatees.

In [86]:
ip_ls= input("enter the numbers:").split()
ip_ls= [int(i) for i in ip_ls]

enter the numbers:1 2 4

In [104]:
# method 1 for Q.4
for i,j in zip(range(ip_ls[0],ip_ls[-1]+1),ip_ls):
    if i!=j:
        print("missing value:{}".format(i))

missing value:3

In [110]:
# method 2 for Q.4
print("missing value:{}".format(list(set(range(ip_ls[0], ip_ls[-1])) - set(ip_ls))[0]))

missing value:3

Q.5) with a given list "L" after removing all duplicate values with original order reserved.<br>
ex:<br>
**input:** 3,5,9,1,3,9
**output:** 3,5,9,1

In [34]:
l=[1,7,3,9,3,7,44,5,1,7,3,9]

In [37]:
print("L after removing all duplicate values with original order reserved:\n{}".format(list(set(l))))

L after removing all duplicate values with original order reserved:
[1, 3, 5, 7, 9, 44]