# Day 5 assignment

Q.1) Write a program to find thr first 20 non-even prime natural number

In [40]:
r=20
for a in range(2,r+1):  
    k=0  
    for i in range(2,a//2+1):  
        if(a%i==0):  
            k=k+1  
    if(k<=0):  
        print(a,end=" ")

2 3 5 7 11 13 17 19

Q.2) write a python program to implement 15 functions of strings

In [15]:
string = "   My name is Mayank.   "

In [16]:
string.lower()

'   my name is mayank.   '

In [3]:
string.upper()

'MY NAME IS MAYANK.'

In [4]:
string.islower()

False

In [5]:
string.isupper()

False

In [8]:
string.count('m')

1

In [14]:
string.isalpha()

False

In [17]:
string.strip()

'My name is Mayank.'

In [19]:
string.lstrip()

'My name is Mayank.   '

In [20]:
string.rstrip()

'   My name is Mayank.'

In [22]:
string.endswith(" ")

True

In [23]:
string.startswith("M")

False

In [24]:
string.find("m")

8

In [27]:
string.split(" ")

['', '', '', 'My', 'name', 'is', 'Mayank.', '', '', '']

In [34]:
string.replace('M','m')

'   my name is mayank.   '

In [35]:
string.title()

'   My Name Is Mayank.   '

Q.3) Write python program to check if given string is a Palindrom or Anagram  or  None of them. Display the message accordingly.

In [38]:
strg= "namn"

In [39]:
if strg == strg[::-1]:
    print('string is paindrom')

Q.4) Write a usre defined function that removes all additional characters from the string and converts it finally to lower case using buil-in lower()

In [41]:
string_2= "DR.Mayank Gupta @ml at #2020"

In [ ]:
for i in string_2: